{
	"singleQuote": false,
	"semi": true,
	"useTabs": true,
	"tabWidth": 4,
	"bracketSpacing": true,
	"arrowParens": "always",
	"printWidth": 80,
	"formatOnSave": true,
	"trailingComma": "none",
	"jsxBracketSameLine": true
}
